.contieneArticulos {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    
}
h3, h4, h5 {
    text-align: center;
}
p{
    padding: 10px
}
.recetarios{
    background-color:rgb(90, 74, 235);
    margin-bottom: 10px;
    font-size:95%;
    width: 49%;
    border-radius: 20px;
    
}

.imagenes-recet{
    margin: 5px;
    border-radius: 20px;
}

img{
    display: block;
    border: 0;
    width: 100%;
    height:auto;
    border-radius: 20px;
}

.recet{    
    
}

.lista-ingre{
    list-style: none;
}