header,
main,
footer {
  width: 960px;
  margin: 0;
  margin-left: auto;
  margin-right: auto;
}
header {
  height: 62px;
  background: url("../imagenes/knife-1088529_640.png") 750px 186px;
  /*position: fixed;*/
  top: 0;
  width: 960px;
  position: sticky;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #220b74;
  z-index: 10;
}
#Logo {
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
  height: 60px;
  width: 60px;
  float: left;
  background: url("../imagenes/logo.jpg") 250px 105px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 1px solid #bfbfbf;
  box-shadow: 10px 10px 8px #220b74;
  border-radius: 10px;
}
#home {
  width: 200px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #220b74;
}

#nav-menu {
  width: 530px;
  height: 60px;
  padding-right: 10px;
  background-color: #19acd5;
  float: right;
  border: 1px solid #bfbfbf;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #220b74;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul li {
  display: inline-block;
}
ul li a {
  margin-left: 10px;
  display: block;
  width: 88px;
  height: 45px;
  margin-top: 3px;
  background-color: #4940d2;
  text-decoration: none;
  color: aliceblue;
  text-align: center;
  line-height: 43px;
  border: 1px solid #bfbfbf;
  border-radius: 20px;
  border-right: 2px solid rgb(11, 0, 106);
  box-shadow: 10px 10px 10px #220b74;
}

ul li a:hover {
  color: rgb(32, 7, 35);
  background-color: rgb(80, 118, 152);
}
    section{
       font-family: calibri;
             font-size: 20px; 
             width: 960px;
             height: autopx;
             margin-top: 12px ;
             margin-right: auto;
            margin-left: auto;
            background: -moz-linear-gradient(top, #0180a3, #1d168a);
            background: -webkit-gradient(linear, 0 0, 0 100%, from(#0180a3), to(#1d168a));
            border: 1px solid #bfbfbf;
  border-radius: 10px;
    }
    h1{
      text-align: center;
      padding: 10px;
    }
    footer {
      height: 70px;
      background-color: #000000;
      text-align: center;
      color: #9ec1e3;
      border-radius: 10px 10px 10px; 
    }
    #title{
      text-align: center;
      border: double;
      border-style: groove;

    }
    #mayor{
       margin: auto;
       padding: 20px;
       text-align: left;
       width: 60%;
    }
    #id{
      display: block;
      background-position: center;
      text-align: center;
      margin: auto;
      width: 500px;
      font-size: 25px;
      height: 20px;
      padding: 5px;
    }
    #fecha{
      display: block;
      margin: auto;
      background-position: center;
      width: 509px;
      margin-top: 5px;
      font-size: 20px;
      padding: px;
    }
    #aporte{
      display: block;
      margin: auto;
      background-position: center;
      width: 508px;
      font-size: 20px;
      margin-top: 5px;
    }
    #conformidad{
      margin-left: 31px;
      padding: 12px;
      margin-top: 5px;
      width: 400px;
      background-position: center;
    }
    #aceptar{
      background-color: white;
      padding: 7px;
      text-decoration-line: none;
      background-position: center;
      margin-left: 468px;
    }
    #Datos{
      background-color:white ;
      height: 450px;
      border-style: groove;

    }
    #borrar{
      text-decoration-line: none;
      border-style: double;
      border-color: black;
      float: right;
      margin-right: -100px;
    }
  